/*center align text or elements*/
.centerAlignText {
    text-align: center;
}
/*left align text or elements*/
.leftAlignText {
    text-align: left;
}
/*right align text or elements*/
.rightAlignText {
    text-align: center;
}

/*center nav links when not collapse; Tip: https://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar*/
.navbar-nav {
    float:none;
    margin:0 auto;
    display: inline-block;
    text-align: center;
}

/*entire nav background color*/
.navbarColor {
    background-color: lightgreen;
}
/*royal blue solid border for icon-bars and button border in nav menu button*/
.navMenuButton, button.navbar-toggle.navMenuButton {
    border: royalblue solid 1px;
}
/*css for nav drop down links*/
a.dropdown-toggle {
    font-weight: bolder;
    word-spacing: 2px;
    letter-spacing: .5px;
}

/*Adjust the height of the nav-bar to the body of the Website*/
body {
    padding-top: 70px;
}

/*Mobile or small screen*/
@media only screen and (max-width: 500px) {
    /*css for nav links in mobile view*/
    a.dropdown-toggle {
        font-size: 20px;
    }
    /*css for nav drop down links in mobile view*/
    ul.dropdown-menu li {
        font-size: 16px;
    }
    
    /*Adjust the height of the nav-bar to the body of the Website */
    body {
    padding-top: 90px;
}    
}